<h1>Área Administrativa</h1>

<%= link_to 'Transportadoras', admins_backoffice_carriers_path %> |
<%= link_to 'Consultar valores', admins_backoffice_budgets_path %> |
<%= link_to 'Nova ordem de serviço', new_admins_backoffice_order_path %>