<h1>Área do usuário</h1>

<%= link_to 'Veículos', users_backoffice_vehicles_path %>
<%= link_to 'Configurações de preços', users_backoffice_price_settings_path %>
<%= link_to 'Prazos', users_backoffice_deadlines_path %>
