/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
}

header {
  background: #0c34a3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div.title-content {
  align-self: center;
  margin: 10px 0 10px 2%;
}

header div.title-content h1 a {
  text-decoration: none;
  color: inherit;
  color: white;
  font-size: 25pt;
}

header div.title-content h1 a:hover {
  text-decoration: none;
  color: inherit;
  color: white;
  font-size: 25pt;
}

header div.title-content h1 a:focus {
  text-decoration: none;
  color: inherit;
  color: white;
  font-size: 25pt;
}

header div.title-content h1 a:active {
  text-decoration: none;
  color: inherit;
  color: white;
  font-size: 25pt;
}

header div.menu-content {
  margin-right: 2%;
  padding: 0 10px;
  width: 230px;
}

header ul.menu-list {
  display: flex;
  justify-content: space-around;
}

header ul.menu-list li {
  display: inline;
  list-style: none;
  background-color: #222222;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

header div.entity-container {
  margin-right: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

header div.entity-container p.current-entity {
  color: #fff;
}

header div.entity-container p.current_entity span {
  color: #fff;
  font-weight: bold;
}

header div.entity-container button {
  padding: 0 2px;
}

main {
  padding: 10px 10px 0 10px;
}

main h2 {
  font-size: 25pt;
  margin-bottom: 30px;
}

p.notice {
  background-color: #b1ff92;
  border: 2px solid #1ba33b;
  border-radius: 10px;
  margin: 30px 0 20px 0;
  padding: 10px;
  font-weight: bold;
  color: #1ba33b;
  font-size: 15pt;
  width: 500px;
}

p.alert {
  background-color: #ff9292;
  border: 2px solid #fc3434;
  border-radius: 10px;
  margin: 30px 0 20px 0;
  padding: 10px;
  font-weight: bold;
  color: #fc3434;
  font-size: 15pt;
  width: 500px;
}

main a.back-button {
  color: #FFF;
  font-weight: 100;
  text-decoration: none;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;    
}

main a.accept-button {
  color: #FFF;
  font-weight: 100;
  text-decoration: none;
  background-color: #00ff37;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;    
}

main a.update-button {
  color: #FFF;
  font-weight: 100;
  text-decoration: none;
  background-color: #ffa600;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;    
}

main a.register-button{
  color: #FFF;
  font-weight: 100;
  text-decoration: none;
  background-color: #28A745;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

div.collection-empty{
  background-color: #ff9292;
  border: 2px solid #fc3434;
  border-radius: 10px;
  margin: 30px 0 50px 0;
  padding: 10px;
  font-weight: bold;
  color: #fc3434;
  font-size: 15pt;
  width: 500px;
}

table {
  margin: 20px 0;
  background-color: black;
  border-radius: 5px;
}

table thead {
  background-color: #515151;
  color: #ffffff
}

table thead tr th {
  padding: 5px;
}

table tbody tr {
  background-color: #fff;
}

table thead tr th a { 
  color: white;
} 

table tbody td {
  padding: 5px 10px;
}

dl{
  margin: 0 0 35px 0;
  border-radius: 10px;
}

dl div.description-list-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #e4e4e4;
  border-radius: 5px;
  box-shadow: #bebebe 5px 5px 10px;
  margin: 15px 0;
  width: 500px;
  padding: 10px;
}

form {
  margin: 0 0 30px 0;
}